<ng-container *ngIf='mini;else largeTemplate;'>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="place.ImageUrl">
    </ion-avatar>
    <ion-label text-wrap>
      <ion-text color="primary">
        <h1>{{place.Name}}</h1>
      </ion-text>
      <p class="nowrap">Description:{{place.Description}}</p>
      <p text-wrap>Address:{{place.Address}}</p>
    </ion-label>
    <ion-fab-button [appLocation]='place?.LatLng' color='secondary' slot='end'>
      <ion-icon name="compass"></ion-icon>
    </ion-fab-button>

  </ion-item>
</ng-container>
<ng-template #largeTemplate>
  <ion-card>
    <div class="image-container">
      <div *ngIf='!place.ImageUrl' class="image-placeholder"></div>
      <img *ngIf='place.ImageUrl' [src]="place.ImageUrl" alt="">
    </div>
    <ion-card-header class="place-header">
      <ion-card-title class="capitalize">{{place.Name}}</ion-card-title>

      <kh-ratings [rating]='getAvgRating(place)' [itemId]='place.Id' reviewModal [reviewItemId]='place.Id' reviewItemType='place' [disableWrite]='!reviewWrite'></kh-ratings>
      <ion-fab vertical="top" horizontal="end" edge>
        <ion-fab-button [appLocation]='place?.LatLng' color='light'>
          <ion-icon name="compass"></ion-icon>
        </ion-fab-button>
        <!-- <ion-fab-button (click)='onSelect(place)' *ngIf='enableSelection'>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button> -->
      </ion-fab>
    </ion-card-header>
    <ion-card-content>
      <p>{{place.Description}}</p>
    </ion-card-content>
  </ion-card>
</ng-template>