<ion-header>
  <ion-toolbar color='secondary'>
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)='onBack()' color='light' fill="outline">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf='(data$|async) as res'>
    <ng-container *ngIf='res.data;else notificationTemplate;'>
      <div class='row-item' *ngFor="let userChat of res.data">
        <ion-item [chatModal]='user(userChat)?.Id' detail>
          <ion-avatar slot="start">
            <img src="/assets/user.png">
          </ion-avatar>
          <ion-label text-wrap>
            <ion-text color="primary">
              <h2>{{user(userChat)?.FullName}}</h2>
            </ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ng-container>
    <ng-template #notificationTemplate>
      <ng-container *ngIf='res.error||res.empty;else loadingTemplate;'>
        <div class="item-center" [hidden]='!res.error'>
          Something went wrong , Try again later .
        </div>
        <div class="item-center" [hidden]='!res.empty'>
          No Chats to display .
        </div>
      </ng-container>
      <ng-template #loadingTemplate>
        <div class="item-center">
          <ion-spinner name="lines"></ion-spinner>
        </div>
      </ng-template>
    </ng-template>
  </ng-container>

</ion-content>