<ion-header>
  <ion-toolbar color='secondary'>
    <ion-title>Place Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/kovalam.jpg" alt="">
    <ion-card-header>
      <ion-card-title>Kovalam</ion-card-title>
      <ion-card-subtitle>Town in Kerala</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Kovalam is a small coastal town in the southern Indian state of Kerala, south of Thiruvananthapuram. At the southern end
      of Lighthouse Beach is a striped lighthouse with a viewing platform. Palm-backed beaches also include Hawa Beach and
      Samudra Beach. Heading south, Vizhinjam Juma Masjid mosque overlooks the busy fishing harbor. Inland, Sagarika Marine
      Research Aquarium displays technology used in pearl production.
      <hr>
      <ion-button expand="full" fill="outline" color='primary'>Plan A Trip</ion-button>
      <p>3-star hotel averaging ₹ 1,800, 5-star averaging ₹ 8,863</p>
    </ion-card-content>
  </ion-card>
</ion-content>