<ion-header >
  <ion-toolbar color='primary'>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Sign up As</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="display-flex justify-center display-column display-full">
    <ion-button routerLink='/register-user' expand='block' color="primary">Tourist</ion-button>
    <ion-button routerLink='/register-companion' expand='block' color="primary">Companion</ion-button>
    <ion-button routerLink='/register-vehicle-provider' expand='block' color="primary">Vehicle Provider</ion-button>
    <ion-button routerLink='/register-fna-type' expand='block' color="primary">Food And Accomodation</ion-button>
  </div>
</ion-content>