<ion-item-divider>
    <ion-label>
      <ion-text color="primary">
        <h2>FULL NAME</h2>
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input formControlName='fullName' type="text" placeholder="John Stone"></ion-input>
  </ion-item>
<ion-item-divider>
    <ion-label>
      <ion-text color="primary">
        <h2>EMAIL ID</h2>
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input required type="text" placeholder="john@gmail.com"></ion-input>
  </ion-item>
<ion-item-divider>
    <ion-label>
      <ion-text color="primary">
        <h2>PHONE NUMBER</h2>
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input required type="text" placeholder="9989899899"></ion-input>
  </ion-item>
<ion-item-divider>
    <ion-label>
      <ion-text color="primary">
        <h2>USER NAME</h2>
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input required type="text" placeholder="user name"></ion-input>
  </ion-item>
<ion-item-divider>
    <ion-label>
      <ion-text color="primary">
        <h2>PASSWORD</h2>
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input required type="password" placeholder="password"></ion-input>
  </ion-item>
  <!-- <ion-item-divider>
    <ion-label>
      <ion-text color="primary">
        <h2>ADDRESS</h2>
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-textarea required type="text" placeholder="Ulloor , Trivandrum"></ion-textarea>
  </ion-item> -->
  <!-- <ion-item-divider>
    <ion-label>
      <ion-text color="primary">
        <h2> LATITUDE AND LONGITUDE</h2>
      </ion-text>
      <p>Select from the map.</p>
    </ion-label>
    <ion-fab-button (click)='selectLocation()'>
      <ion-icon name="compass"></ion-icon>
    </ion-fab-button>
  </ion-item-divider>
  <ion-item>
    <ion-input required type="text" placeholder="23.455,45.555" disabled></ion-input>
  </ion-item> -->