.login-container{
    background-color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    .logo-container {
        margin-top:10%;
        display:flex;
        justify-content: center;
        align-items: center;
        height:200px;
    }
    img{
        height:100%;
    }
}