<ion-tabs color='primary'>
  <ion-tab label="Book A Trip" icon="paper" href="/user/tabs/(book:book)">
    <ion-router-outlet name="book"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Places" icon="navigate" href="/user/tabs/(places:places)">
    <ion-router-outlet name="places"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Trip History" icon="checkbox" href="/user/tabs/(trip-history:trip-history)">
    <ion-router-outlet name="trip-history"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Settings" icon="settings" href="/user/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
