<ion-item-divider>
  <ion-label>
    <ion-text color="primary">
      <h2>GENDER</h2>
    </ion-text>
  </ion-label>
</ion-item-divider>
<ion-item>
  <ion-select placeholder="Select One">
    <ion-select-option value="f">Female</ion-select-option>
    <ion-select-option value="m">Male</ion-select-option>
  </ion-select>
</ion-item>
<ion-item-divider>
  <ion-label>
    <ion-text color="primary">
      <h2>DOB</h2>
    </ion-text>
  </ion-label>
</ion-item-divider>
<ion-item>
  <ion-input required type="date" ></ion-input>
</ion-item>
<ion-item-divider>
  <ion-label>
    <ion-text color="primary">
      <h2>ADHAAR ID</h2>
    </ion-text>
  </ion-label>
</ion-item-divider>
<ion-item>
  <ion-input required type="number" placeholder="your adhaar id"></ion-input>
</ion-item>