<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="admin-grid">
    <div class="db-item" [routerLink]="['/verify-user',vehicleProvider]">
      <ion-icon name="checkbox"></ion-icon>
      <div class="db-label">
        Verify Vehicle Provider
      </div>
    </div>
    <div class="db-item" [routerLink]="['/verify-places']">
      <ion-icon name="checkbox"></ion-icon>
      <div class="db-label">
        Verify Place
      </div>
    </div>
    <div class="db-item" [routerLink]="['/verify-user',companion]">
      <ion-icon name="checkbox"></ion-icon>
      <div class="db-label">
        Verify Companion
      </div>
    </div>
    <div class="db-item" [routerLink]="['/verify-user',foodProvider]">
      <ion-icon name="add"></ion-icon>
      <div class="db-label">
        Verify Food And Accomodation
      </div>
    </div>
    <div class="db-item">
      <ion-icon name="checkbox"></ion-icon>
      <div class="db-label">
        Messages
      </div>
    </div>
    <div class="db-item">
      <ion-icon name="checkbox"></ion-icon>
      <div class="db-label">
        Monitor Trip
      </div>
    </div>
    <div class="db-item" routerLink='/register-fna-type'>
      <ion-icon name="checkbox"></ion-icon>
      <div class="db-label">
        FNA Types
      </div>
    </div>
    <div class="db-item" (click)='logOut()'>
      <ion-icon name="log-out"></ion-icon>
      <div class="db-label">
        Log Out
      </div>
    </div>
  </div>
</ion-content>