<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-primary">
  <div class="col-grid">
    <ion-card class="col-item" [routerLink]="['/admin/verify-user',vehicleProvider]">
      <ion-icon name="checkbox" color='primary'></ion-icon>
      <div class="col-label">
        Verify Vehicle Provider
      </div>
    </ion-card>
    <ion-card class="col-item" [routerLink]="['/admin/verify-places']">
      <ion-icon name="checkbox" color='primary'></ion-icon>
      <div class="col-label">
        Verify Place
      </div>
    </ion-card>
    <ion-card class="col-item" [routerLink]="['/admin/verify-user',companion]">
      <ion-icon name="checkbox" color='primary'></ion-icon>
      <div class="col-label">
        Verify Companion
      </div>
    </ion-card>
    <ion-card class="col-item" [routerLink]="['/admin/verify-user',foodProvider]">
      <ion-icon name="checkbox" color='primary'></ion-icon>
      <div class="col-label">
        Verify Food And Accomodation
      </div>
    </ion-card>
    <ion-card class="col-item" routerLink='/admin/register-fna-type'>
      <ion-icon name="add" color='primary'></ion-icon>
      <div class="col-label">
        FNA Types
      </div>
    </ion-card>
    <ion-card class="col-item" (click)='logOut()'>
      <ion-icon name="log-out" color='danger'></ion-icon>
      <div class="col-label">
        Log Out
      </div>
    </ion-card>
  </div>
</ion-content>