<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Trip Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- fab placed in the center of the content with a list on each side -->
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge="true">
    <ion-fab-button color='secondary'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color='secondary' (click)='openPlaceList()'>
        <ion-icon name="navigate"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color='secondary' (click)='openCompanionList()'>
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color='secondary' (click)='openVehicleList()'>
        <ion-icon name="car"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color='secondary' (click)='openFoodNAccomodation()'>
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!--FORM items starts here-->
  <form [formGroup]='registerForm' novalidate>
    <ion-item-divider>
      <ion-label>
        <ion-text color="primary">
          <h2>START DATE</h2>
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <!-- <ion-datetime min="2017" max="2020-10-31" formControlName='startDate' display-format="MMM DD, YYYY HH:mm" placeholder='select a starting date '></ion-datetime> -->
      <input type="date" formControlName='startDate'>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <ion-text color="primary">
          <h2>END DATE</h2>
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <!-- <ion-datetime min="2017" max="2020-10-31" formControlName='endDate' placeholder='select an end date ' display-format="MMM DD, YYYY HH:mm"></ion-datetime> -->
      <input type="date" formControlName='endDate'>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <ion-text color="primary">
          <h2>HOW MANY ?</h2>
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input formControlName='totalMembers' type="text" placeholder="6"></ion-input>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <ion-text color="primary">
          <h2> BOARDING ADDRESS FROM MAP</h2>
        </ion-text>
        <p>Latitude and longitude .</p>
      </ion-label>
      <ion-fab-button appLocation enableSelection='true' color='secondary' (onSelect)='onLocationSelect($event)'>
        <ion-icon name="compass"></ion-icon>
      </ion-fab-button>
    </ion-item-divider>
    <ion-item>
      <ion-input [value]='registerForm.get("latLng").value' type="text" placeholder="23.455,45.555" disabled></ion-input>
      <input type="hidden" formControlName='latLng'>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <ion-text color="primary">
          <h2>BOARDING ADDRESS</h2>
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-textarea formControlName='fromAddress' type="text" placeholder="Ulloor , Trivandrum"></ion-textarea>
    </ion-item>
    <ng-container *ngIf='selectedPlace'>
      <place-card mini="true" [data]='selectedPlace'></place-card>
    </ng-container>
    <ng-container *ngIf='selectedCompanion'>
      <user-card [data]='selectedCompanion'></user-card>
    </ng-container>
    <ng-container *ngIf='selectedVehicle'>
      <vehicle-card mini="true" [data]='selectedVehicle'></vehicle-card>
    </ng-container>
    <ng-container *ngIf='selectedFna'>
      <user-card [data]='selectedFna'></user-card>
    </ng-container>
    <input type="hidden" formControlName='isPlaceSelected'>
    <input type="hidden" formControlName='isVehicleSelected'>
    <input type="hidden" formControlName='isFnaSelected'>
    <input type="hidden" formControlName='isCompanionSelected'>
    <ion-button expand="full" (click)='onSave()'>SUBMIT</ion-button>
  </form>
</ion-content>