<ion-header>
  <ion-toolbar color='secondary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf='(data$|async) as res'>
    <ng-container *ngIf='res.data;else notificationTemplate;'>

      <ion-card *ngFor="let user of res.data">
        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/images/jeep.jpg">
          </ion-avatar>
          <ion-label>{{ user.FullName}}</ion-label>
        </ion-item>
        <ion-card-content>
          <!-- <p>Start Date : {{trip.StartDate|date}}</p> -->
          <!-- <p>End Date : {{trip.EndDate|date}}</p> -->
        </ion-card-content>
      </ion-card>


    </ng-container>
    <ng-template #notificationTemplate>
      <ng-container *ngIf='res.error||res.empty;else loadingTemplate;'>
        <div class="item-center" [hidden]='!res.error'>
          Something went wrong , Try again later .
        </div>
        <div class="item-center" [hidden]='!res.empty'>
          List is empty .
        </div>
      </ng-container>
      <ng-template #loadingTemplate>
        <div class="item-center">
          <ion-spinner name="lines"></ion-spinner>
        </div>
      </ng-template>
    </ng-template>
  </ng-container>
</ion-content>