<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" [routerLink]='["/register-vehicles",user.Id]' color='light' *ngIf='userService.isVehicleProvider$|async'>Your Vehicles</ion-button>
  <ion-button expand="full" [routerLink]='["/vehicle-trips"]' color='light' *ngIf='userService.isVehicleProvider$|async'>Vehicle Trips</ion-button>
  <ion-button expand="full" [routerLink]='["/fna-trips"]' color='light' *ngIf='userService.isFnaProvider$|async'>Your Trips</ion-button>
  <ion-button expand="full" [routerLink]='["/companion-trips"]' color='light' *ngIf='userService.isCompanion$|async'>Your Trips</ion-button>
  <ion-button expand="full" (click)='logOut()' color='secondary'>Log Out</ion-button>
</ion-content>